*{margin: 0;
  padding: 0;
}

section{
  width: 100%;
  height: 300px;
}
div input {
  float: left;
  margin-top: 80px;
  margin-left: 80px;
}

#uno{
  background: url("../img/01.gif") center center fixed;
  background-size: cover;
  padding-top: 30px;
  height: 850px;


}
#dos{
  background: url("../img/letraR.jpg") center center fixed;
  height:850px;
  background-size: cover;

}
#tres {
  background: url("../img/letraii.gif") center center fixed;
  background-size: cover;
  height: 850px;

}

h3 {
  text-align: center;
  color: white;
  font-size: 30px;

}
#cuatro {
  background: url("../img/letrag.gif") center center fixed;
  height:850px;
  background-size: cover;

}
#cinco {
  background: url("../img/letraa.gif") center center fixed;
  height:850px;
  background-size: cover;
}
#seis {
  background: url("../img/space2.gif") center center fixed;
  height:850px;
  background-size: cover;
}
#siete {
  background: url("../img/letrai.gif") center center fixed;
  height:850px;
  background-size: cover;
}
